Package: flash-termux
Version: 1.0.0
Architecture: all
Maintainer: Adinata <adinata.ch@proton.me>
Depends: python3, android-tools, unzip, unrar, tar, zstd
Description: Advanced ROM flashing tool for Termux
 Command-line tool for extracting and flashing Android ROMs.
Homepage: https://github.com/adivenxnataly/flash-termux
